<% include header %>

    <form action="/estudiante/ingresado" method="get">
      <label for="">Ingrese Código</label>
      <input type="text" name="password" />
      <input type="submit" name="submit" value="Ingresar">
    </form>

<% include footer %>
